body { 
      background-color:#ffffff;  }
P.Base { 
        margin-left:5.80pt; 
        margin-top:3.00pt; 
        margin-bottom:1; 
        font-size:8pt; 
        font-family:Arial, sans-serif;  }
LI.kadov-P-CBase { 
                  font-size:8pt; 
                  font-family:Arial, sans-serif;  }
P.rdm18236 { 
            margin-top:1; 
            margin-bottom:1; 
            font-family:020b0503030404020203; 
            font-size:24pt; 
            color:#ff0000;  }
LI.kadov-P-Crdm18236 { 
                      font-family:020b0503030404020203; 
                      font-size:24pt; 
                      color:#ff0000;  }
P.ADDRESS { 
           margin-left:5.80pt; 
           margin-top:3.00pt; 
           margin-bottom:1; 
           font-size:8pt;  }
LI.kadov-P-CADDRESS { 
                     font-size:8pt;  }
P.Banner-Base { 
               margin-left:5.65pt; 
               margin-top:4.00pt; 
               margin-bottom:4.00pt; 
               font-family:Arial, sans-serif; 
               font-weight:bold; 
               font-size:14pt;  }
LI.kadov-P-CBanner-Base { 
                         font-family:Arial, sans-serif; 
                         font-weight:bold; 
                         font-size:14pt;  }
P.BQ { 
      margin-left:18.00pt; 
      margin-right:18.00pt; 
      margin-top:3.00pt; 
      margin-bottom:1; 
      font-family:Arial, sans-serif; 
      font-size:8pt;  }
LI.kadov-P-CBQ { 
                font-family:Arial, sans-serif; 
                font-size:8pt;  }
P.Button-Bar { 
              margin-top:4.00pt; 
              margin-bottom:4.00pt; 
              font-family:Arial, sans-serif; 
              font-size:6pt; 
              font-weight:bold;  }
LI.kadov-P-CButton-Bar { 
                        font-family:Arial, sans-serif; 
                        font-size:6pt; 
                        font-weight:bold;  }
P.Comments { 
            margin-left:5.80pt; 
            margin-top:3.00pt; 
            margin-bottom:1; 
            font-family:Arial, sans-serif; 
            font-size:8pt; 
            color:#ff0000; 
            font-weight:bold;  }
LI.kadov-P-CComments { 
                      font-family:Arial, sans-serif; 
                      font-size:8pt; 
                      color:#ff0000; 
                      font-weight:bold;  }
P.DD { 
      margin-left:18.00pt; 
      margin-top:3.00pt; 
      margin-bottom:1; 
      font-family:Arial, sans-serif; 
      font-size:8pt;  }
LI.kadov-P-CDD { 
                font-family:Arial, sans-serif; 
                font-size:8pt;  }
P.Demo-buttons { 
                margin-left:5.75pt; 
                margin-top:3.00pt; 
                margin-bottom:1; 
                font-family:Arial, sans-serif; 
                font-size:8pt; 
                font-weight:bold;  }
LI.kadov-P-CDemo-buttons { 
                          font-family:Arial, sans-serif; 
                          font-size:8pt; 
                          font-weight:bold;  }
P.Demo-buttons-1 { 
                  margin-left:5.75pt; 
                  margin-top:3.00pt; 
                  margin-bottom:1; 
                  font-family:Arial, sans-serif; 
                  font-size:8pt; 
                  font-weight:bold;  }
LI.kadov-P-CDemo-buttons-1 { 
                            font-family:Arial, sans-serif; 
                            font-size:8pt; 
                            font-weight:bold;  }
P.DIR { 
       margin-left:18.00pt; 
       margin-top:3.00pt; 
       margin-bottom:1; 
       font-family:Arial, sans-serif; 
       font-size:8pt;  }
LI.kadov-P-CDIR { 
                 font-family:Arial, sans-serif; 
                 font-size:8pt;  }
P.DIR-LI { 
          margin-left:36.00pt; 
          margin-top:1; 
          margin-bottom:1; 
          font-family:Arial, sans-serif; 
          font-size:8pt;  }
LI.kadov-P-CDIR-LI { 
                    font-family:Arial, sans-serif; 
                    font-size:8pt;  }
P.DL { 
      margin-left:5.80pt; 
      margin-top:3.00pt; 
      margin-bottom:1; 
      font-family:Arial, sans-serif; 
      font-size:8pt;  }
LI.kadov-P-CDL { 
                font-family:Arial, sans-serif; 
                font-size:8pt;  }
P.DT { 
      margin-left:5.80pt; 
      margin-top:3.00pt; 
      margin-bottom:1; 
      font-family:Arial, sans-serif; 
      font-size:8pt;  }
LI.kadov-P-CDT { 
                font-family:Arial, sans-serif; 
                font-size:8pt;  }
P.H1 { 
      margin-left:5.80pt; 
      margin-top:3.00pt; 
      margin-bottom:1; 
      font-family:Arial, sans-serif; 
      font-size:24pt; 
      font-weight:bold;  }
LI.kadov-P-CH1 { 
                font-family:Arial, sans-serif; 
                font-size:24pt; 
                font-weight:bold;  }
P.H2 { 
      margin-left:5.80pt; 
      margin-top:3.00pt; 
      margin-bottom:1; 
      font-family:Arial, sans-serif; 
      font-size:18pt; 
      font-weight:bold;  }
LI.kadov-P-CH2 { 
                font-family:Arial, sans-serif; 
                font-size:18pt; 
                font-weight:bold;  }
P.H3 { 
      margin-left:5.80pt; 
      margin-top:3.00pt; 
      margin-bottom:1; 
      font-family:Arial, sans-serif; 
      font-size:14pt; 
      font-weight:bold;  }
LI.kadov-P-CH3 { 
                font-family:Arial, sans-serif; 
                font-size:14pt; 
                font-weight:bold;  }
P.H4 { 
      margin-left:5.80pt; 
      margin-top:3.00pt; 
      margin-bottom:1; 
      font-family:Arial, sans-serif; 
      font-size:12pt; 
      font-weight:bold;  }
LI.kadov-P-CH4 { 
                font-family:Arial, sans-serif; 
                font-size:12pt; 
                font-weight:bold;  }
P.H5 { 
      margin-left:5.80pt; 
      margin-top:3.00pt; 
      margin-bottom:1; 
      font-family:Arial, sans-serif; 
      font-size:10pt; 
      font-weight:bold;  }
LI.kadov-P-CH5 { 
                font-family:Arial, sans-serif; 
                font-size:10pt; 
                font-weight:bold;  }
P.H6 { 
      margin-left:5.80pt; 
      margin-top:3.00pt; 
      margin-bottom:1; 
      font-family:Arial, sans-serif; 
      font-size:8pt; 
      font-weight:bold;  }
LI.kadov-P-CH6 { 
                font-family:Arial, sans-serif; 
                font-size:8pt; 
                font-weight:bold;  }
H1 { 
    margin-left:5.80pt; 
    margin-top:12.00pt; 
    margin-bottom:3.00pt; 
    font-size:12pt; 
    font-weight:bold;  }
LI.kadov-H1 { 
             font-size:12pt; 
             font-weight:bold;  }
P.How-Number-List { 
                   margin-left:17.25pt; 
                   margin-top:2.00pt; 
                   margin-bottom:1; 
                   text-indent:0; 
                   font-family:Arial, sans-serif; 
                   font-size:8pt;  }
LI.kadov-P-CHow-Number-List { 
                             text-indent:0; 
                             font-family:Arial, sans-serif; 
                             font-size:8pt;  }
P.How-Number-List-1 { 
                     margin-left:17.25pt; 
                     margin-top:2.00pt; 
                     margin-bottom:1; 
                     text-indent:0; 
                     font-family:Arial, sans-serif; 
                     font-size:8pt;  }
LI.kadov-P-CHow-Number-List-1 { 
                               text-indent:0; 
                               font-family:Arial, sans-serif; 
                               font-size:8pt;  }
P.How-Title { 
             margin-left:5.80pt; 
             margin-top:6.00pt; 
             margin-bottom:1; 
             line-height:12.00pt; 
             font-family:Arial, sans-serif; 
             font-size:8pt; 
             font-weight:bold;  }
LI.kadov-P-CHow-Title { 
                       line-height:12.00pt; 
                       font-family:Arial, sans-serif; 
                       font-size:8pt; 
                       font-weight:bold;  }
P.HR { 
      margin-left:1; 
      margin-right:1; 
      margin-top:1; 
      margin-bottom:1; 
      font-size:12pt;  }
LI.kadov-P-CHR { 
                font-size:12pt;  }
P.HTMLBASE { 
            margin-left:1; 
            margin-right:1; 
            margin-top:1; 
            margin-bottom:1; 
            font-size:12pt;  }
LI.kadov-P-CHTMLBASE { 
                      font-size:12pt;  }
P.Indent { 
          margin-left:70.90pt; 
          margin-top:3.00pt; 
          margin-bottom:1; 
          text-indent:0; 
          font-family:Arial, sans-serif; 
          font-size:8pt;  }
LI.kadov-P-CIndent { 
                    text-indent:0; 
                    font-family:Arial, sans-serif; 
                    font-size:8pt;  }
P.Key-Shortcut { 
                margin-left:5.65pt; 
                margin-top:3.00pt; 
                margin-bottom:5.00pt; 
                font-family:Arial, sans-serif; 
                font-size:8pt; 
                color:#808080; 
                font-weight:bold;  }
LI.kadov-P-CKey-Shortcut { 
                          font-family:Arial, sans-serif; 
                          font-size:8pt; 
                          color:#808080; 
                          font-weight:bold;  }
P.List1 { 
         margin-left:18.00pt; 
         margin-top:3.00pt; 
         margin-bottom:1; 
         text-indent:0; 
         font-family:Arial, sans-serif; 
         font-size:8pt;  }
LI.kadov-P-CList1 { 
                   text-indent:0; 
                   font-family:Arial, sans-serif; 
                   font-size:8pt;  }
P.List2 { 
         margin-left:36.00pt; 
         margin-top:3.00pt; 
         margin-bottom:1; 
         text-indent:0; 
         font-family:Arial, sans-serif; 
         font-size:8pt;  }
LI.kadov-P-CList2 { 
                   text-indent:0; 
                   font-family:Arial, sans-serif; 
                   font-size:8pt;  }
P.List3 { 
         margin-left:54.00pt; 
         margin-top:3.00pt; 
         margin-bottom:1; 
         text-indent:0; 
         font-family:Arial, sans-serif; 
         font-size:8pt;  }
LI.kadov-P-CList3 { 
                   text-indent:0; 
                   font-family:Arial, sans-serif; 
                   font-size:8pt;  }
P.LISTING { 
           margin-left:5.80pt; 
           margin-top:3.00pt; 
           margin-bottom:1; 
           font-size:8pt;  }
LI.kadov-P-CLISTING { 
                     font-size:8pt;  }
P.MENU { 
        margin-left:18.00pt; 
        margin-top:3.00pt; 
        margin-bottom:1; 
        font-family:Arial, sans-serif; 
        font-size:8pt;  }
LI.kadov-P-CMENU { 
                  font-family:Arial, sans-serif; 
                  font-size:8pt;  }
P.MENU-LI { 
           margin-left:36.00pt; 
           margin-top:1; 
           margin-bottom:1; 
           font-family:Arial, sans-serif; 
           font-size:8pt;  }
LI.kadov-P-CMENU-LI { 
                     font-family:Arial, sans-serif; 
                     font-size:8pt;  }
P.Message-Close-Button { 
                        margin-left:5.80pt; 
                        margin-top:3.00pt; 
                        margin-bottom:1; 
                        text-align:center; 
                        font-family:Arial, sans-serif; 
                        font-size:8pt;  }
LI.kadov-P-CMessage-Close-Button { 
                                  text-align:center; 
                                  font-family:Arial, sans-serif; 
                                  font-size:8pt;  }
P.Movie-Title { 
               margin-left:5.80pt; 
               margin-top:4.00pt; 
               margin-bottom:1; 
               font-family:Arial, sans-serif; 
               font-size:8pt; 
               color:#0000ff; 
               font-weight:bold;  }
LI.kadov-P-CMovie-Title { 
                         font-family:Arial, sans-serif; 
                         font-size:8pt; 
                         color:#0000ff; 
                         font-weight:bold;  }
P.Movie-Title-1 { 
                 margin-left:5.80pt; 
                 margin-top:4.00pt; 
                 margin-bottom:1; 
                 font-family:Arial, sans-serif; 
                 font-size:8pt; 
                 color:#0000ff; 
                 font-weight:bold;  }
LI.kadov-P-CMovie-Title-1 { 
                           font-family:Arial, sans-serif; 
                           font-size:8pt; 
                           color:#0000ff; 
                           font-weight:bold;  }
P { 
   margin-top:1; 
   margin-bottom:6.00pt; 
   font-family:Times New Roman; 
   font-size:10pt;  }
LI.kadov-P { 
            font-family:Times New Roman; 
            font-size:10pt;  }
P.Normal-Indent { 
                 margin-left:36.00pt; 
                 margin-top:3.00pt; 
                 margin-bottom:1; 
                 font-family:Arial, sans-serif; 
                 font-size:8pt;  }
LI.kadov-P-CNormal-Indent { 
                           font-family:Arial, sans-serif; 
                           font-size:8pt;  }
P.Normal-1 { 
            margin-top:5.00pt; 
            margin-bottom:5.00pt; 
            font-family:Times New Roman; 
            font-size:12pt;  }
LI.kadov-P-CNormal-1 { 
                      font-family:Times New Roman; 
                      font-size:12pt;  }
P.OL { 
      margin-left:18.00pt; 
      margin-top:3.00pt; 
      margin-bottom:1; 
      font-family:Arial, sans-serif; 
      font-size:8pt;  }
LI.kadov-P-COL { 
                font-family:Arial, sans-serif; 
                font-size:8pt;  }
P.OL-LI { 
         margin-left:36.00pt; 
         margin-top:1; 
         margin-bottom:1; 
         text-indent:0; 
         font-family:Arial, sans-serif; 
         font-size:8pt;  }
LI.kadov-P-COL-LI { 
                   text-indent:0; 
                   font-family:Arial, sans-serif; 
                   font-size:8pt;  }
P.P { 
     margin-left:5.80pt; 
     margin-top:3.00pt; 
     margin-bottom:6.00pt; 
     font-family:Arial, sans-serif; 
     font-size:8pt;  }
LI.kadov-P-CP { 
               font-family:Arial, sans-serif; 
               font-size:8pt;  }
P.Picture-Indent { 
                  margin-left:12.80pt; 
                  margin-top:5.00pt; 
                  margin-bottom:2.00pt; 
                  font-family:Arial, sans-serif; 
                  font-size:8pt;  }
LI.kadov-P-CPicture-Indent { 
                            font-family:Arial, sans-serif; 
                            font-size:8pt;  }
P.Picture-Indent-1 { 
                    margin-left:12.80pt; 
                    margin-top:5.00pt; 
                    margin-bottom:2.00pt; 
                    font-family:Arial, sans-serif; 
                    font-size:8pt;  }
LI.kadov-P-CPicture-Indent-1 { 
                              font-family:Arial, sans-serif; 
                              font-size:8pt;  }
P.PRE { 
       margin-left:5.80pt; 
       margin-top:3.00pt; 
       margin-bottom:1; 
       font-size:10pt;  }
LI.kadov-P-CPRE { 
                 font-size:10pt;  }
P.Related-Topics-Title { 
                        margin-left:5.65pt; 
                        margin-top:3.00pt; 
                        margin-bottom:1.00pt; 
                        font-family:Arial, sans-serif; 
                        font-size:8pt; 
                        font-weight:bold;  }
LI.kadov-P-CRelated-Topics-Title { 
                                  font-family:Arial, sans-serif; 
                                  font-size:8pt; 
                                  font-weight:bold;  }
P.Simple-Bullet-List { 
                      margin-left:28.35pt; 
                      margin-top:2.00pt; 
                      margin-bottom:1; 
                      text-indent:0; 
                      font-family:Arial, sans-serif; 
                      font-size:8pt;  }
LI.kadov-P-CSimple-Bullet-List { 
                                text-indent:0; 
                                font-family:Arial, sans-serif; 
                                font-size:8pt;  }
P.Simple-Bullet-List-1 { 
                        margin-left:28.35pt; 
                        margin-top:2.00pt; 
                        margin-bottom:1; 
                        text-indent:0; 
                        font-family:Arial, sans-serif; 
                        font-size:8pt;  }
LI.kadov-P-CSimple-Bullet-List-1 { 
                                  text-indent:0; 
                                  font-family:Arial, sans-serif; 
                                  font-size:8pt;  }
P.Tip-body { 
            margin-left:17.25pt; 
            margin-top:1; 
            margin-bottom:1.00pt; 
            text-indent:0; 
            font-family:Arial, sans-serif; 
            font-size:8pt;  }
LI.kadov-P-CTip-body { 
                      text-indent:0; 
                      font-family:Arial, sans-serif; 
                      font-size:8pt;  }
P.Tip-title { 
             margin-left:5.80pt; 
             margin-top:4.00pt; 
             margin-bottom:1; 
             line-height:12.00pt; 
             font-family:Arial, sans-serif; 
             font-size:8pt; 
             font-weight:bold;  }
LI.kadov-P-CTip-title { 
                       line-height:12.00pt; 
                       font-family:Arial, sans-serif; 
                       font-size:8pt; 
                       font-weight:bold;  }
P.Tool-button-list { 
                    margin-left:28.35pt; 
                    margin-top:3.00pt; 
                    margin-bottom:1; 
                    font-family:Arial, sans-serif; 
                    font-size:8pt;  }
LI.kadov-P-CTool-button-list { 
                              font-family:Arial, sans-serif; 
                              font-size:8pt;  }
P.Tool-Title { 
              margin-left:5.80pt; 
              margin-top:5.00pt; 
              margin-bottom:1.00pt; 
              font-family:Arial, sans-serif; 
              font-size:14pt; 
              font-weight:bold;  }
LI.kadov-P-CTool-Title { 
                        font-family:Arial, sans-serif; 
                        font-size:14pt; 
                        font-weight:bold;  }
P.Troubleshooter-bulbs { 
                        margin-left:24.10pt; 
                        margin-top:3.00pt; 
                        margin-bottom:1; 
                        text-indent:0; 
                        font-family:Arial, sans-serif; 
                        font-size:8pt;  }
LI.kadov-P-CTroubleshooter-bulbs { 
                                  text-indent:0; 
                                  font-family:Arial, sans-serif; 
                                  font-size:8pt;  }
P.Troubleshooter-buttons { 
                          margin-left:22.70pt; 
                          margin-top:3.00pt; 
                          margin-bottom:1; 
                          text-indent:0; 
                          font-family:Arial, sans-serif; 
                          font-size:8pt;  }
LI.kadov-P-CTroubleshooter-buttons { 
                                    text-indent:0; 
                                    font-family:Arial, sans-serif; 
                                    font-size:8pt;  }
P.Troubleshooter-list { 
                       margin-left:24.10pt; 
                       margin-top:2.00pt; 
                       margin-bottom:1; 
                       text-indent:0; 
                       font-family:Arial, sans-serif; 
                       font-size:8pt;  }
LI.kadov-P-CTroubleshooter-list { 
                                 text-indent:0; 
                                 font-family:Arial, sans-serif; 
                                 font-size:8pt;  }
P.Troubleshooter-Title { 
                        margin-left:5.65pt; 
                        margin-top:4.00pt; 
                        margin-bottom:2.00pt; 
                        font-family:Arial, sans-serif; 
                        font-size:8pt; 
                        font-weight:bold;  }
LI.kadov-P-CTroubleshooter-Title { 
                                  font-family:Arial, sans-serif; 
                                  font-size:8pt; 
                                  font-weight:bold;  }
P.UL { 
      margin-left:18.00pt; 
      margin-top:3.00pt; 
      margin-bottom:1; 
      font-family:Arial, sans-serif; 
      font-size:8pt;  }
LI.kadov-P-CUL { 
                font-family:Arial, sans-serif; 
                font-size:8pt;  }
P.UL-LI { 
         margin-left:36.00pt; 
         margin-top:1; 
         margin-bottom:1; 
         text-indent:0; 
         font-family:Arial, sans-serif; 
         font-size:8pt;  }
LI.kadov-P-CUL-LI { 
                   text-indent:0; 
                   font-family:Arial, sans-serif; 
                   font-size:8pt;  }
P.WWW-Link { 
            margin-left:28.35pt; 
            margin-top:2.00pt; 
            margin-bottom:1; 
            text-indent:0; 
            font-family:Arial, sans-serif; 
            font-size:8pt; 
            color:#0000ff; 
            font-weight:bold;  }
LI.kadov-P-CWWW-Link { 
                      text-indent:0; 
                      font-family:Arial, sans-serif; 
                      font-size:8pt; 
                      color:#0000ff; 
                      font-weight:bold;  }
P.WWW-Title { 
             margin-left:5.80pt; 
             margin-top:6.00pt; 
             margin-bottom:1; 
             font-family:Arial, sans-serif; 
             font-size:10pt; 
             color:#ff0000; 
             font-weight:bold;  }
LI.kadov-P-CWWW-Title { 
                       font-family:Arial, sans-serif; 
                       font-size:10pt; 
                       color:#ff0000; 
                       font-weight:bold;  }
P.XMP { 
       margin-left:1; 
       margin-right:1; 
       margin-top:1; 
       margin-bottom:1; 
       font-size:10pt;  }
LI.kadov-P-CXMP { 
                 font-size:10pt;  }
ol ol { 
       margin-top:1; 
       margin-bottom:6px;  }
ol ul { 
       margin-top:1; 
       margin-bottom:6px;  }
ul ul { 
       margin-top:1; 
       margin-bottom:6px;  }
ul ol { 
       margin-top:1; 
       margin-bottom:6px;  }
